$dark-blue: #171941;

$primary-blue: #171941;
$primary-gray: #BCCED9;
$primary-white: #FCFCFC;
$primary-orange: #FF8D72;

$hover-blue: #1D8CF8;
$hover-orange: #f8ae9d;

$secondary-blue: #7191A5;
$secondary-gray: #DFE7EC;
